@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
.p-3 {
    padding: -2px;
    background-color:#ffc107; 
    font-size:22px;
    font-weight: bold;
    margin:2px;
    text-align:center;
    width: 121px;
    height: -2px;
    
}